<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcnK4CICgKcy5JkgTiwq9_hXC2WizMRjc</string>
	<key>GCM_SENDER_ID</key>
	<string>120922277909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-project-368b2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-368b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120922277909:ios:02e1e6f7193872a0c0661c</string>
</dict>
</plist>